.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listMenu {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.listMenu li {
  color: #232323;
  font-size: 20px;
}
