* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 25px;
}


img {
    max-width: 100%;
}

a {
    display: inline-block;
    color: #000;
    text-decoration: none;
}